# eslint-config-airbnbの導入 - Qiita http://qiita.com/bohebohechan/items/0332b557f80150e714de
# Airbnb React/JSX Style Guide - Qiita http://qiita.com/koukun/items/e64762e407b8dd5e0247
# https://github.com/airbnb/javascript
env:
  es6: true
  node: true
  browser: true

parserOptions:
  ecmaVersion: 6
  sourceType: module
  ecmaFeatures:
    jsx: true
    #spread operatorなどを使えるように
    experimentalObjectRestSpread: true

extends:
  - airbnb

plugins:
  - react

rules:
  no-new: off
  no-var:
    - error
  no-unused-vars:
    - error
    - vars: all
      args: none
  indent:
    - error
    - 2
  quotes:
    - error
    - single
  linebreak-style:
    - error
    - unix
  semi:
    - error
    - never
  comma-dangle:
    - error
    - always-multiline
