@import '_base.scss';

.hoge {
  .fuga { color: yellow; }
  p { color: cyan; }
  text-align: center;
  border-style: dotted;
  border-radius: 50px;
  /* hoge */
  -moz-border-radius: 10px;
}

.fuga {
  display: flex;
}
